.startAppearX {
  animation: appearX 1s;
  animation-fill-mode: forwards;
}

@keyframes appearX {
  100% {
    left: 0;
  }
}

.startLeaveLeft {
  animation: leaveLeft 1s;
  animation-fill-mode: forwards;
}

@keyframes leaveLeft {
  0% {
    left: 0;
  }

  100% {
    left: -100vw;
  }
}

.startAppearY {
  animation: appearY 1s;
  animation-fill-mode: forwards;
}

@keyframes appearY {
  100% {
    top: 0;
  }
}

.startLeaveBottom {
  animation: leaveBottom 1s;
  animation-fill-mode: forwards;
}

@keyframes leaveBottom {
  0% {
    top: 0;
  }

  100% {
    top: 100vh;
  }
}

.startLeaveRight {
  animation: leaveRight 1s;
  animation-fill-mode: forwards;
}

@keyframes leaveRight {
  0% {
    left: 0;
  }

  100% {
    left: 100vw;
  }
}


@keyframes hoverButtonBig{
  0%{
    font-size: 4vw;
  }

  50%{
    font-size: 5vw;
  }

  100%{
    font-size: 4vw;
  }
}