@import url("./vendors/reset.scss");

@import url("./global/general.scss");
@import url("./global/animations.scss");
@import url("./global/typography.scss");
@import url("./global/mixins.scss");
@import url("./config/medias.scss");

@import url("./blocs/article.scss");
@import url("./blocs/carte.scss");
@import url("./blocs/carousel.scss");
@import url("./blocs/creations.scss");
@import url("./blocs/explanations.scss");
@import url("./blocs/help.scss");
@import url("./blocs/indicator.scss");
@import url("./blocs/language.scss");
@import url("./blocs/loader.scss");
@import url("./blocs/layout.scss");
@import url("./blocs/menu.scss");
@import url("./blocs/presentation.scss");
@import url("./blocs/selection.scss");
@import url("./blocs/skill.scss");
@import url("./blocs/skills.scss");
@import url("./blocs/title.scss");
