.carousel {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-basis: 60vh;
}

.carousel__arrow {
  flex-basis: 5vw;
  align-self: center;
  cursor: pointer;
}

.carousel__content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-basis: 40vw;
  align-items: center;
}

@media (min-width:1000px), (max-height:450px){
  .carousel__content {
    flex-direction: row; 
    flex-basis: 70vw;

  }

 }