.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgba(39, 2, 2, 0.658);
  border: 1% solid black;
  padding: 3%;
  color: white;
}

.menu__title {
  font-family: Ballet Harmony;
  text-align: center;
  font-size: 4vw;
  flex-basis: 20%;
}

.menu__buttons {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 60%;
  padding: 1%;
}

.menu__button {
  flex-basis: 35%;
  text-align: center;
  cursor: pointer;
}
.menu__subtitle {
  padding: 3%;
  font-size: 2vw;
  font-family: Comfortaa;
}

@media (min-width: 1000px), (max-height: 450px) {
  .menu__buttons {
    flex-direction: column;
  }
}
