.selection {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 5%;
  cursor: pointer;
  background-color:rgba(39, 2, 2, 0.658);
}

.selection__element {
  text-align: center;
  font-family: Comfortaa;
  font-size: 2vw;
}
.selection__title {
  width: 100%;
  white-space: normal;
  word-break: break-all;
  color: white;
}


.selection__categoryTitle{
  text-align: center;
  font-family: Ballet Harmony;
  color: white;
  font-size: 6vw;
}

.selection__devTitle{
  grid-area:devTitre;
}

.selection__graphTitle{
  grid-area:graphTitre;
}

.selection__audioTitle{
  grid-area:audioTitre;
}

.selection__content {
  display: grid;
  grid-area: dev;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  padding: 5%;
}


@media (min-width: 1000px), (max-height: 450px) {
  .selection {
    grid-template-columns: repeat(4, 1fr);
  }
  .selection__dev {
    grid-template-columns: repeat(4, 1fr);
  }

  .selection__graph {
    grid-template-columns: repeat(4, 1fr);
  }

  .selection__audio {
    grid-template-columns: repeat(4, 1fr);
  }
}
