.skills {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 100vh;
  background-image: linear-gradient(to bottom, white, #1f14ff);
  z-index: 20;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 3%;
}

.skills__title {
  text-align: center;
  font-size: 9vw;
  font-family: Ballet Harmony;
  flex-basis: 10vh;
}

.skills__categories {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  flex-basis: 10vh;
}

.skills__category {
  cursor: pointer;
  font-size: 4vw;
  font-family: Comfortaa;
  text-align: center;
}

.skills__category:hover {
  animation: hoverButtonSmall 1s;
  animation-iteration-count: infinite;
}

.skills_button {
  cursor: pointer;
}

.skills__exit {
  cursor: pointer;
  background-color: transparent;
  font-family: Comfortaa;
  font-size: 4vw;
  border: none;
}

.skills__exit:hover {
  animation: hoverButtonBig 1s;
  animation-iteration-count: infinite;
}

@media (min-width: 1000px), (max-height: 450px) {
  .skills__categories {
    flex-basis: 20vh;
    width: 70%;
    align-self: center;
    margin-top: 5%;
  }

  .skills__category {
    font-size: 2vw;
  }
}
